.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: 'Work Sans';
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

a {
  font-family: 'Work Sans';
  text-decoration: underline;
}

.navbar-english {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-top: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(250, 254, 255, 0.9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #f6fbfc), to(rgba(250, 254, 252, 0.7)));
  background-image: linear-gradient(180deg, #f6fbfc 24%, rgba(250, 254, 252, 0.7));
  box-shadow: 0 -1px 20px 0 rgba(52, 59, 68, 0.03);
  font-family: Montserrat, sans-serif;
}

.container-nsv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  padding-right: 40px;
  padding-left: 40px;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar-light-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.company-name-block {
  padding-left: 4px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: none;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navbar-link {
  display: none;
  margin-right: 10px;
  padding: 20px;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
  cursor: pointer;
}

.navbar-link:hover {
  color: #000;
}

.navbar-link.w--current {
  display: none;
  color: #1a2d35;
  font-weight: 700;
}

.navbar-link.left {
  display: block;
  margin-right: 4px;
  padding-right: 0px;
  padding-left: 20px;
}

.navbar-link.left.w--current {
  display: block;
  font-weight: 700;
}

.navbar-link.left.current {
  font-weight: 700;
}

.navbar-link.right {
  display: block;
  margin-left: 4px;
  padding-right: 20px;
  padding-left: 0px;
}

.navbar-link.right.current {
  font-weight: 700;
}

.navbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding: 12px 20px 11px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 11px;
  background-color: #dcf3f8;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
}

.navbutton:hover {
  background-color: #d3f1f8;
}

.footer-thin-container {
  max-width: 1124px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
}

.footer.bg-blue {
  background-color: #dcf3f8;
}

.copyright-text {
  font-family: 'Worksans variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.body {
  background-color: #fafeff;
}

.section-intro {
  padding-top: 14em;
  padding-bottom: 10em;
}

.section-1 {
  padding-top: 10em;
  padding-bottom: 2em;
}

.section-benefits {
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-benefits.bg-blue {
  background-color: #dcf3f8;
}

.section-2 {
  padding-top: 4em;
  padding-bottom: 8em;
}

.section-team {
  padding-top: 4em;
  padding-bottom: 6em;
  background-color: #dcf3f8;
}

.section-support {
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #fff;
}

.container {
  max-width: 1080px;
  padding-right: 40px;
  padding-left: 40px;
}

.text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.h1 {
  position: static;
  max-width: 20ch;
  margin-bottom: 30px;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.72px;
}

.h1.deutsch {
  max-width: 23ch;
}

.p-intro {
  max-width: 74ch;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
}

.text-wrap-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-wrap-center.b-padding {
  padding-bottom: 20px;
}

.h3 {
  width: 20ch;
  max-width: 20ch;
  margin-bottom: 22px;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 41px;
  line-height: 47px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -0.88px;
}

.h3.wide {
  width: 25ch;
  max-width: 25ch;
  margin-bottom: 40px;
  text-align: center;
}

.h3.wide.deutsch {
  width: 30ch;
  max-width: 30ch;
}

.h3.wider {
  width: 30ch;
  max-width: 30ch;
  margin-top: 60px;
  margin-bottom: 4px;
}

.h3.empty {
  margin-top: 0px;
  margin-bottom: 0px;
}

.h3.right {
  width: 21ch;
  max-width: 21ch;
}

.h3.right.mobile {
  display: none;
}

.h3.left {
  text-align: left;
}

.p {
  max-width: 41ch;
  margin-bottom: 12px;
  font-family: 'Worksans variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.08px;
}

.p.last-p {
  margin-bottom: 0px;
}

.p.last-p.right {
  max-width: 42ch;
}

.p-wide {
  max-width: 80ch;
  margin-bottom: 20px;
  font-family: 'Worksans variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.17px;
}

.p-wide.deutsch {
  max-width: 73ch;
}

.caption {
  margin-bottom: 0px;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1.2px;
  text-transform: none;
}

.image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100px;
  padding-right: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block.last-block {
  padding-right: 0px;
}

.subheadline {
  display: block;
  max-width: 40ch;
  margin-bottom: 12px;
  padding-top: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 17px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.17px;
}

.subheadline.deutsch {
  max-width: 29ch;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-div {
  position: static;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.team-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.profile-pic {
  padding: 60px 0px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.name-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 14px;
  padding-left: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.name-tag {
  max-width: 18ch;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.ocupation-tag {
  max-width: 14ch;
  font-family: 'Work Sans';
  color: #536369;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.44px;
  text-transform: uppercase;
}

.ocupation-tag.smallcaps {
  font-family: 'Worksans variablefont wght', sans-serif;
  line-height: 24px;
  text-transform: none;
}

.fs-cc-banner_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 62.5rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fs-cc-banner_buttons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-cc-manager_icon {
  width: 2rem;
  height: 2rem;
}

.fs-cc-prefs_checkbox-field {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.75rem;
  height: 1.5rem;
  margin-bottom: 0px;
  padding: 0.125rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 999rem;
  background-color: #ccc;
}

.fs-cc-components {
  display: block;
}

.fs-cc-manager_component {
  position: fixed;
  left: 1.25rem;
  top: auto;
  right: auto;
  bottom: 1.25rem;
  z-index: 999;
  display: none;
}

.fs-cc-banner_text {
  margin-right: 1.5rem;
  font-family: 'Work Sans';
  color: #1a2d35;
}

.fs-cc-prefs_content {
  overflow: scroll;
  height: 100%;
  padding: 2.5rem 2rem;
}

.fs-cc-manager_trigger {
  display: none;
}

.fs-cc-prefs_checkbox {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  opacity: 0;
  cursor: pointer;
}

.fs-cc-prefs_toggle-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fs-cc-prefs_space-medium {
  margin-bottom: 2.5rem;
}

.fs-cc-prefs_text {
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 0.7rem;
  line-height: 18px;
}

.fs-cc-banner_text-link {
  border-style: none none solid;
  border-width: 1px;
  border-color: #f17500 #f17500 #fe7f2d;
  border-radius: 0px;
  font-family: 'Work Sans';
  color: #fe7f2d;
  font-weight: 400;
  text-decoration: none;
}

.fs-cc-prefs_title {
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 1.4rem;
  line-height: 1.2em;
  font-weight: 700;
}

.fs-cc-prefs_submit-hide {
  display: none;
}

.fs-cc-prefs_component {
  position: fixed;
  left: auto;
  top: 10%;
  right: 0%;
  bottom: auto;
  z-index: 997;
  display: none;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fs-cc-prefs_label {
  margin-top: 0px;
  margin-right: 2rem;
  margin-bottom: 0px;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #7fd6ed;
  font-size: 1rem;
  font-weight: 600;
}

.fs-cc-prefs_button {
  margin-right: 0.5rem;
  padding: 0.625rem 1.5rem;
  border: 2px solid #7fd6ed;
  border-radius: 999rem;
  background-color: #7fd6ed;
  font-family: 'Epilogue variablefont wght', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}

.fs-cc-prefs_button.fs-cc-button-alt {
  border-color: #7fd6ed;
  background-color: #fff;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #7fd6ed;
  font-weight: 600;
}

.fs-cc-prefs_buttons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-right: -0.5rem;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-cc-prefs_checkbox-label {
  display: none;
}

.fs-cc-prefs_form {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 70vh;
  max-width: 36rem;
  margin-bottom: 0px;
  border-radius: 1rem;
  background-color: #fff;
}

.fs-cc-banner_trigger {
  display: none;
}

.fs-cc-prefs_space-small {
  margin-bottom: 0.75rem;
}

.fs-cc-prefs_close-icon {
  width: 1rem;
  height: 1rem;
  color: #1a2d35;
}

.fs-cc-prefs_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 5, 36, 0.6);
}

.fs-cc-prefs_toggle {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 999px;
  background-color: #fff;
}

.fs-cc-prefs_close {
  position: absolute;
  left: auto;
  top: -0.75rem;
  right: -0.75rem;
  bottom: auto;
  z-index: 1;
  padding: 0.625rem;
  border-radius: 100%;
  background-color: #f5faff;
  box-shadow: -1px 1px 12px 0 rgba(51, 51, 51, 0.1);
  color: #333;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
}

.fs-cc-manager_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 999rem;
  background-color: #fff;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #333;
  cursor: pointer;
}

.fs-cc-manager_button:hover {
  color: #4353ff;
}

.fs-cc-prefs_option {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.15);
}

.fs-cc-prefs_trigger {
  display: none;
}

.fs-cc-banner_button {
  min-width: 8.75rem;
  margin-left: 1rem;
  padding: 0.625rem 1.25rem;
  border: 2px solid #7fd6ed;
  border-radius: 999rem;
  background-color: #7fd6ed;
  font-family: 'Work Sans';
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.fs-cc-banner_button.fs-cc-button-alt {
  border-color: #7fd6ed;
  background-color: #f5faff;
  font-family: 'Work Sans';
  color: #7fd6ed;
}

.fs-cc-banner_component {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 998;
  display: none;
  padding: 1.5rem 2rem;
  border-top: 1px solid rgba(67, 83, 255, 0.16);
  background-color: #f5faff;
}

.navbar-line {
  display: block;
  padding: 20px 0px;
  font-family: Epilogue;
  color: #1a2d35;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
}

.navbar-line:hover {
  color: #000;
}

.image-4 {
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.container-rel {
  position: relative;
  max-width: 1080px;
  padding-right: 40px;
  padding-left: 40px;
}

.img-2 {
  padding-left: 0px;
}

.h3-centered {
  max-width: 23ch;
  margin-bottom: 15px;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 40px;
  line-height: 47px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.88px;
}

.support-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading {
  font-family: 'Epilogue variablefont wght', sans-serif;
}

.field-label {
  font-family: 'Worksans variablefont wght', sans-serif;
}

.text-field {
  font-family: 'Worksans variablefont wght', sans-serif;
}

.submit-button {
  font-family: 'Worksans variablefont wght', sans-serif;
}

.heading-2 {
  font-family: 'Epilogue variablefont wght', sans-serif;
}

.text-block {
  font-family: 'Worksans variablefont wght', sans-serif;
}

.body-2 {
  background-color: #fafeff;
}

.text-link {
  padding-bottom: 10px;
  font-family: 'Worksans variablefont wght', sans-serif;
  color: #2b505f;
  font-size: 17px;
  line-height: 24px;
}

.h5 {
  max-width: 33ch;
  margin-top: 20px;
  margin-bottom: 4px;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 28px;
  line-height: 44px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -0.88px;
}

.h5.top {
  margin-top: 0px;
}

.p-impressum {
  max-width: 52ch;
  margin-bottom: 12px;
  font-family: 'Worksans variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.08px;
}

.p-impressum.last-p {
  margin-bottom: 16px;
}

.section-impressum {
  padding-top: 4em;
  padding-bottom: 6em;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-link {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Worksans variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.container-narrow {
  max-width: 920px;
  padding-right: 40px;
  padding-left: 40px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.vertical-profile-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-3 {
  padding-top: 8em;
  padding-bottom: 2em;
}

.section-4 {
  padding-top: 2em;
  padding-bottom: 8em;
}

.img-4 {
  padding-left: 0px;
}

.section-link {
  margin-right: 10px;
  padding: 20px;
  font-family: 'Epilogue variablefont wght', sans-serif;
  color: #1a2d35;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
  cursor: pointer;
}

.section-link:hover {
  color: #000;
}

.section-link.w--current {
  color: #1a2d35;
}

.image-berlin {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-eu {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-esf {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-steinbeis {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-harbour {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.imprint-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navbar-deutsch {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-top: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(250, 254, 255, 0.9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #f6fbfc), to(rgba(250, 254, 252, 0.7)));
  background-image: linear-gradient(180deg, #f6fbfc 24%, rgba(250, 254, 252, 0.7));
  box-shadow: 0 -1px 20px 0 rgba(52, 59, 68, 0.03);
  font-family: Montserrat, sans-serif;
}

.bold-text {
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .container-nsv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .company-name-block {
    font-size: 22px;
  }

  .nav-menu {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-link {
    padding-right: 10px;
    padding-left: 0px;
    font-size: 18px;
  }

  .navbar-link.left.w--current {
    padding-left: 10px;
    font-size: 18px;
  }

  .navbar-link.right {
    padding-right: 10px;
    font-size: 18px;
  }

  .navbutton {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 18px;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-light-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #5343ff;
  }

  .footer-thin-container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .p-intro {
    max-width: 49ch;
  }

  .h3 {
    width: 20ch;
    max-width: 19ch;
    font-size: 36px;
  }

  .h3.wide {
    max-width: 20ch;
  }

  .p {
    max-width: 34ch;
  }

  .caption.smallcaps {
    font-size: 19px;
  }

  .content-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-div {
    overflow: hidden;
  }

  .profile-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .profile-pic {
    max-width: 100%;
    padding-top: 39px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .name-wrap {
    padding-right: 6px;
    padding-left: 6px;
  }

  .name-tag {
    font-size: 20px;
  }

  .ocupation-tag.smallcaps {
    font-size: 18px;
  }

  .fs-cc-banner_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .fs-cc-banner_buttons-wrapper {
    margin-top: 1rem;
  }

  .fs-cc-banner_text {
    margin-right: 0rem;
  }

  .navbar-line {
    font-size: 18px;
  }

  .img-2 {
    max-width: 100%;
    padding-left: 0px;
  }

  .image-benefit {
    max-width: 100%;
  }

  .img-4 {
    max-width: 100%;
    padding-left: 0px;
  }

  .section-link {
    padding-right: 10px;
    padding-left: 0px;
    font-size: 18px;
  }

  .imprint-wrap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .container-nsv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
  }

  .navbar-link {
    display: block;
    margin-right: 0px;
    padding-left: 10px;
    border-bottom: 0.1px solid #a1a1a1;
    background-color: #f6fbfc;
  }

  .navbar-link.w--current {
    display: block;
  }

  .navbar-link.left {
    display: none;
    margin-right: 0px;
    padding-left: 10px;
  }

  .navbar-link.left.w--current {
    display: none;
  }

  .navbar-link.right {
    display: none;
    margin-left: 0px;
    padding-left: 10px;
  }

  .navbutton {
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 0px;
  }

  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #f6fbfc;
  }

  .navbar-light-icon {
    color: #1a2d35;
  }

  .footer {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }

  .footer.bg-blue {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section-intro {
    padding-top: 12em;
    padding-bottom: 6em;
  }

  .section-1 {
    display: block;
    padding-top: 2em;
    padding-bottom: 0em;
  }

  .section-2 {
    padding-top: 1em;
    padding-bottom: 4em;
  }

  .section-team {
    padding-bottom: 4em;
  }

  .section-support {
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  .text-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .h1 {
    font-size: 55px;
    line-height: 61px;
  }

  .p-intro {
    max-width: 41ch;
    font-size: 18px;
    line-height: 25px;
  }

  .text-wrap-center.b-padding {
    padding-bottom: 10px;
  }

  .h3 {
    max-width: 19ch;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }

  .h3.wide {
    max-width: 20ch;
  }

  .h3.wide.deutsch {
    width: 23ch;
    max-width: 23ch;
  }

  .h3.wider {
    max-width: 20ch;
    margin-top: 40px;
  }

  .h3.left {
    text-align: left;
  }

  .p {
    max-width: 36ch;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }

  .p-wide {
    max-width: 43ch;
    font-size: 15px;
    line-height: 22px;
  }

  .caption.smallcaps {
    font-size: 15px;
  }

  .div-block {
    max-width: 40%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .div-block.last-block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .subheadline {
    max-width: 40ch;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
  }

  .content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-wrap {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .image-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .profile-wrap {
    padding-bottom: 20px;
  }

  .name-tag {
    font-size: 15px;
    line-height: 17px;
  }

  .ocupation-tag.smallcaps {
    font-size: 14px;
    line-height: 18px;
  }

  .fs-cc-banner_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .fs-cc-prefs_title {
    font-size: 1.25rem;
  }

  .navbar-line {
    display: none;
  }

  .img-2 {
    max-width: 80%;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .img-1 {
    max-width: 80%;
  }

  .h3-centered {
    max-width: 23ch;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }

  .support-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .h5 {
    max-width: 25ch;
    font-size: 24px;
    line-height: 37px;
    text-align: left;
  }

  .p-impressum {
    max-width: 36ch;
    font-size: 15px;
    line-height: 22px;
  }

  .section-impressum {
    padding-top: 2em;
    padding-bottom: 4em;
  }

  .image-benefit {
    max-width: 100%;
  }

  .section-3 {
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .section-4 {
    padding-top: 0em;
    padding-bottom: 4em;
  }

  .img-3 {
    max-width: 80%;
  }

  .img-4 {
    max-width: 80%;
    padding-bottom: 20px;
    padding-left: 0px;
  }

  .section-link {
    margin-right: 0px;
    padding-left: 10px;
    border-bottom: 0.1px solid #a1a1a1;
    background-color: #f6fbfc;
  }

  .image-berlin {
    max-width: 70%;
    margin-bottom: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-eu {
    max-width: 90%;
    margin-bottom: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-esf {
    max-width: 70%;
    margin-bottom: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-steinbeis {
    max-width: 90%;
    margin-bottom: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-harbour {
    max-width: 79%;
    margin-bottom: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .imprint-wrap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container-nsv {
    padding-right: 10px;
    padding-left: 10px;
  }

  .company-name-block {
    font-size: 18px;
  }

  .navbar-link {
    display: block;
  }

  .navbar-link.left {
    display: none;
  }

  .navbar-link.right {
    display: none;
  }

  .navbutton:hover {
    background-color: #fff;
  }

  .menu-button.w--open {
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-light-icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .copyright-text {
    font-size: 12px;
  }

  .section-intro {
    padding-top: 7em;
  }

  .section-1 {
    padding-bottom: 2em;
  }

  .section-benefits.bg-blue {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .section-2 {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .section-team {
    padding-top: 2em;
  }

  .h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .p-intro {
    font-size: 16px;
    line-height: 22px;
  }

  .h3 {
    width: 14ch;
    font-size: 28px;
    line-height: 29px;
  }

  .h3.wide {
    width: 18ch;
    max-width: 18ch;
    text-align: center;
  }

  .h3.wide.deutsch {
    width: 15ch;
    max-width: 15ch;
  }

  .h3.wider {
    max-width: 19ch;
    margin-top: 20px;
    text-align: left;
  }

  .h3.wider.left {
    max-width: 18ch;
  }

  .h3.right {
    width: 14ch;
    max-width: 19ch;
  }

  .h3.right.mobile {
    display: block;
  }

  .h3.right.deutsch {
    display: none;
  }

  .h3.left {
    text-align: left;
  }

  .p {
    font-size: 14px;
    line-height: 20px;
  }

  .p.last-p.right {
    max-width: 36ch;
  }

  .p-wide {
    font-size: 14px;
    line-height: 20px;
  }

  .image-wrapper {
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .subheadline {
    margin-bottom: 60px;
    padding-top: 10px;
    font-size: 16px;
  }

  .image-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .profile-wrap {
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .profile-pic {
    max-width: 70%;
    padding-top: 20px;
  }

  .fs-cc-banner_buttons-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .fs-cc-prefs_content {
    padding: 1.5rem;
  }

  .fs-cc-prefs_component {
    padding: 1.5rem;
  }

  .fs-cc-prefs_button {
    margin-bottom: 0.5rem;
  }

  .fs-cc-banner_button {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
  }

  .image-4 {
    max-width: 30%;
  }

  .img-2 {
    max-width: 100%;
  }

  .img-1 {
    max-width: 90%;
  }

  .h3-centered {
    font-size: 28px;
    line-height: 29px;
  }

  .support-wrapper {
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .h5 {
    margin-top: 10px;
    font-size: 28px;
    line-height: 29px;
  }

  .h5.top {
    font-size: 20px;
  }

  .p-impressum {
    max-width: 32ch;
    font-size: 14px;
    line-height: 20px;
  }

  .section-impressum {
    padding-bottom: 2em;
  }

  .footer-link {
    font-size: 12px;
  }

  .footer-link.w--current {
    font-size: 12px;
  }

  .image-benefit {
    max-width: 50%;
  }

  .section-3 {
    padding-bottom: 0em;
  }

  .section-4 {
    padding-top: 0em;
    padding-bottom: 4em;
  }

  .img-3 {
    max-width: 90%;
  }

  .img-4 {
    max-width: 90%;
  }

  .image-berlin {
    max-width: 80%;
    margin-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-eu {
    max-width: 100%;
    margin-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-esf {
    max-width: 80%;
    margin-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-steinbeis {
    max-width: 100%;
    margin-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-harbour {
    max-width: 100%;
    margin-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .imprint-wrap {
    padding-left: 10px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@font-face {
  font-family: 'Worksans variablefont wght';
  src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Epilogue variablefont wght';
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Worksans variablefont wght';
  src: url('../fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Epilogue variablefont wght';
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Worksans variablefont wght';
  src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Epilogue variablefont wght';
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Epilogue variablefont wght';
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}